body{
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    align-items: center;
}
.app-container{
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    margin:0;
    padding: 0;
    font-size: 14px;
    color: white;
}
.App{
    font-family: Arial, Helvetica, sans-serif;
justify-content: center;
    align-items: center;
    margin:0;
    
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #c471f5 solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:90%;
    max-width:600px;
}