
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 20px 200px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
 
}

h1 {
  line-height: 1.1;
  padding:0;
}

.send{
  margin-left:15px;
  padding:5px 10px
}
.text-input{
  padding:5px 100px;
}
