.forecast-title {
    font-size: 1.5rem;
    opacity: 0.8;
    margin-bottom: 10px;
    text-align: center;
}
.weather-forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}