.weather{
    border: 1px solid #dadde1;
    border-radius: 4px;
   margin: 30px auto;
  background: linear-gradient(109.6deg, rgb(80, 35, 217) 11.2%, rgb(217, 35, 189) 91.1%);
   font-family: Arial, Helvetica, sans-serif;
   padding: 20px;
   box-shadow: #dadde1 0px 1px 2px;
   color: white;

}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.weather h4{
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.weather li{
    list-style: none;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
}
span{
    font-size: 50px;
    font-style: italic;
    margin-bottom: 0;
}
.forecast{
    margin-top: 20px;

}
.icon{
    font-size: 40px;
    margin: 0;

}
.temperature{
    font-size: 20px;
    margin: 0;
}
.unit{
position: relative;
top: -36px;
margin-left: 14px;
font-size: 16px;
}